/* Stellan Wave */

.stellan-wave {
  background: url(https://res.cloudinary.com/dlpb6j88q/image/upload/v1665233685/jadiberkesan.com/themes/stellan/wave_ovpxxz.svg)
    repeat-x;
  position: absolute;
  top: 0px;
  width: 2940px;
  height: 198px;
  animation: stellan-wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.stellan-wave:nth-of-type(2) {
  top: 10px;
  animation: stellan-wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 10s ease -1.25s infinite;
  opacity: 1;
}

@keyframes stellan-wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -735px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
